// Visibility

body.archetype-regular,
body.archetype-private_message,
#main-outlet .read_restricted { 
  .topic-body {
    .contents::after {
      font-size: $font-down-3;
    }
  }
}

// Topic Owner

.topic-post.topic-owner article:not(#post_1) .row .topic-body .topic-meta-data .names .first:after {
  content: 'Szerző';
  color: var(--tertiary);
  font-weight: 600;
  border: 2px solid var(--tertiary);
  padding: 0px 8px;
  border-radius: 1em;
  line-height: normal;
  margin-left: 4px;
  body.category-adok-veszek-felujithato-tankok &,
  body.category-adok-veszek-szettek &,
  body.category-adok-veszek-kiegeszitok &,
  body.category-adok-veszek-modok &,
  body.category-adok-veszek-porlasztos-tankok &,
  body.category-adok-veszek-aromak-es-kellekek &,
  body.category-adok-veszek-csere-ecigire & {
    content: "Hirdető";
  }
}
