// Visibility

body.archetype-regular,
body.archetype-private_message,
#main-outlet .read_restricted { 
  .topic-body {
    .contents::after {
      font-size: $font-down-3;
    }
  }
}

// Topic Owner

.topic-post.topic-owner article:not(#post_1) .row .topic-body .topic-meta-data .names .first:after {
  content: 'Szerző';
  color: var(--tertiary);
  border: 2px solid var(--tertiary);
  font-weight: 600;
  margin-left: 4px;
  padding: 0px 8px;
  border-radius: 1em;
  line-height: normal;
}
