// Tudaster

.docs {
  .topic-list {
     tbody tr {
       border-radius: 8px;
       margin: 5px 0;
     }
  }
  .topic-avatar {
    margin: 1em;
  }
  .topic-body {
    @include background-and-drop-shadow();
    border-radius: 8px;
    padding: 1em;
  }
}
