// Tudaster

.docs {
  width: calc(100vw - 20px);
  .topic-list {
    table-layout: unset !important;
    th {
      padding: 12px 7px;
      max-width: inherit;
      width: 100%;
    }
    td {
      padding: 12px 7px 7px 15px;
      width: 100%;
    }
    tbody tr {
      background: var(--vaperina-secondary);
    }
    .main-link {
      background: none !important;
      box-shadow: none !important;
      border-radius: unset !important;
      .link-bottom-line {
        padding: 0.6em 1em 0.6em 0 !important;
        a {
          padding: 2px 1px;
        }
      }
    }
    .topic-statuses {
      display: none;
    }
  }
}

.docs-browse {
  .docs-topic .docs-nav-link.return {
    font-size: $font-up-1;
    justify-content: normal;
  }
  .docs-topic-list .discourse-tags {
    display: flex;
    max-width: 200px;
  }
}

.mobile-view {
  .docs-expander {
    background: var(--vaperina-btn);
  }
  .docs-filters {
    background: var(--vaperina-btn);
    border-radius: 8px;
    margin-top: 5px;
  }
}

.docs-search {
  border-radius: 8px;
  .docs-search-bar {
    border-radius: 8px;
  }
}