// Visibility

body.archetype-regular,
#main-outlet .read_restricted { 
  .topic-body {
    .contents::after {
      font-family: var(--font-family);
      color: var(--primary-very-high);
      background: var(--primary-low);
      padding: 3px 8px;
      border-radius: 8px;
      font-weight: 900;
      line-height: normal;
    }
  }
}

body.archetype-regular .topic-body .contents::after {
  content: "Nyilvános";
}
body.archetype-private_message .topic-body .contents::after {
  content: "";
}
#main-outlet .read_restricted .topic-body .contents::after {
  content: "Közösség";
}
