// Visibility

body.archetype-regular,
body.archetype-private_message,
#main-outlet .read_restricted { 
  .topic-body {
    .contents::after {
      font-size: $font-down-2;
      margin-left: 11px;
    }
  }
}

// Topic Owner

.topic-post.topic-owner article:not(#post_1) .row .topic-body .topic-meta-data .names::after {
  content: "Szerző";
  color: var(--tertiary);
  font-weight: 600;
  background: var(--tertiary);
  padding: 0px 8px;
  border-radius: 1em;
  line-height: normal;
}
